@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@300;400;900&display=swap');

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 2rem;
    background-image: url('../images/piano-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3F4045;
    color: #fcfcfc;
    margin: 0 auto;
    text-align: center;
    /* part 1 of fix to keep footer at bottom of page - part 2 in footer section */
    /* This fix was taken from https://www.youtube.com/watch?v=yc2olxLgKLk */ 
    display:flex;   
    flex-direction: column;
    min-height: 100vh;
}

/* ---------------------------- Buttons*/

.btn-secondary{
    background-color: #3F4045;
    border: #3F4045;
}


/* --------------------------- Header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* --------------------------- Main section */
main {
    padding-bottom: 20px;
}


/* ---------------------------- Game area */

/* Some CSS techniques for piano and keys inspired by 
'Web Dev Simplified' https://www.youtube.com/watch?v=vjco5yKZpU8&t=668s */

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20 auto;
}

.white {
    height: 320px;
    width: 90px;
    background-color: ivory;
    border-radius: 5px;
    color: black;
    border: 1px solid #3F4045;
}

.black {
    height: 160px;
    width: 45px;
    background-color: black;
    align-self:flex-start;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: -22.5px;
    margin-right: -22.5px;
    z-index: 2;
}

.white p {
    position: relative;
    top: 250px;
}

.black p {
    position: relative;
    top: 80px;
}

/* ---------------- making the keyboard responsive */

@media screen and (max-width: 767px) {
    .lg-screen-only {
        display:none;
    }

}

@media screen and (max-width:309px) {
    #game-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .white {
        height: 280px;
        width: 70px;
        background-color: ivory;
        border-radius: 5px;
        color: black;
        border: 1px solid #3F4045;
    }

    .black {
        height: 140px;
        width: 30px;
        background-color: black;
        align-self:flex-start;
        border-radius: 5px;
        font-size: 1rem;
        margin-left: -15px;
        margin-right: -15px;
        z-index: 2;
    }
    .white p {
        position: relative;
        top: 225px;
        font-size: 80%;
    }
    
    .black p {
        position: relative;
        top: 70px;
        font-size: 80%;
    }
}

/* ------------------------------------ Footer */

footer {
    background-color: black;
    width: 100%;
    margin-top: auto; /* part 2 of fix to keep footer at bottom of page */
    padding: 15px;
}

footer a {
    color: ivory;
}