@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@300;400;900&display=swap');

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 2rem;
    background-color: #3F4045;
    color: #fcfcfc;
    margin: 0 auto;
    text-align: center;
}

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20 auto;
}

.key.white {
    height: 320px;
    width: 90px;
    background-color: ivory;
    border-radius: 5px;
    color: black;
}



