@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@300;400;900&display=swap');

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 2rem;
    background-image: url('../images/piano-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3F4045;
    color: #fcfcfc;
    margin: 0 auto;
    text-align: center;
}

/* --------------------------- Header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ---------------------------- Game area */

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20 auto;
}

.key.white {
    height: 320px;
    width: 90px;
    background-color: ivory;
    border-radius: 5px;
    color: black;
    border: 1px solid #3F4045;
}

.key.black {
    height: 160px;
    width: 45px;
    background-color: black;
    align-self:flex-start;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: -22.5px;
    margin-right: -22.5px;
    z-index: 2;
}

#left-notes {
    float: right;
}

#right-notes {
    float: left;
}


